{% if flash.getMessage('info') %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash.getMessage('info') | first }}
        </div>
    </div>
</div>
{% endif %}

{% if flash.getMessage('mustBeLoggedInError') %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash.getMessage('mustBeLoggedInError') | first }}
        </div>
    </div>
</div>
{% endif %}