{% extends 'templates/base.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>User</h1>
            <hr />
            <ul>
                <li>
                    {{ user.name }}
                    <ul>
                        <li>{{ user.id }}</li>
                        <li>{{ user.email }}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}