{% extends 'templates/base.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Guides</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for guide in guides %}
                    <li>{{ guide.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
